interface=wlan0
hw_mode=g
ssid=ResponseSensor
channel=7
country_code=FI

auth_algs=1
wpa=2
wpa_key_mgmt=WPA-PSK
rsn_pairwise=CCMP
wpa_passphrase=ZXCVBNMQWERTY

logger_syslog=-1
logger_syslog_level=2

ctrl_interface=/var/run/hostapd
ctrl_interface_group=dialout

ieee80211d=1
ieee80211h=1
